doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title Язык тролля
        link(
            rel="stylesheet",
            href="style.css"
        )
    body
        .main
            img(
                src="http://www.w3schools.com/css/trolltunga.jpg",
                alt="",
                class="main-img"
            )
            h2 Язык тролля

            p 
                |Язык Тролля (
                span.it норв. Trolltunga
                |) — каменный выступ на горе Скьеггедаль, расположенной вблизи города Одда в Норвегии, возвышающийся над озером Рингедалсватн на высоте 700 метров.
            p Своей формой выступ напоминает язык, за что и получил такое название. Представляет собой отколовшийся кусок скалы, застывший на её краю в горизонтальном положении.
            
